/bmc/bmc/build/
/bmc/bmc/dist/
/bmc_x86/
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo
!.gitignore
!.mailmap
/mx_test_pic18_2/nbproject/private/
/mx_test_pic18_2/build/default/
/mx_test_pic18_2/dist/default/
/supermoon/build/
/supermoon/moonlight/bmc_x86/dist/
/supermoon/moonlight/bmc_x86/build/
/supermoon/moonlight/build/
/supermoon/moonlight/dist/
/pic24/picmmc.X/nbproject/private/
/pic24/pic24.X/nbproject/private/
/pic24/pic24.X/build/default/
/pic24/pictest.X/nbproject/private/
/pic24/pictest.X/dist/default/